services:
  claw-socket-proxy:
    image: tecnativa/docker-socket-proxy:latest
    container_name: dkr-claw-socket-proxy
    restart: unless-stopped
    networks:
      - runner-control
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      LOG_LEVEL: info

      # Нужно для lifecycle контейнеров и образов
      CONTAINERS: 1
      IMAGES: 1

      # Запрещаем всё остальное
      NETWORKS: 0
      VOLUMES: 0
      SERVICES: 0
      SWARM: 0
      NODES: 0
      TASKS: 0
      SECRETS: 0
      CONFIGS: 0
      PLUGINS: 0
      SYSTEM: 0
      AUTH: 0
      INFO: 0
      EVENTS: 0
      EXEC: 0

  claw-runner:
    image: openclaw-runner:local
    container_name: dkr-claw-runner
    restart: unless-stopped
    networks:
      - runner-control
    depends_on:
      - claw-socket-proxy
    environment:
      DOCKER_HOST: tcp://claw-socket-proxy:2375
      RUNNER_DATA_DIR: /runner-data
      RUNNER_CACHE_DIR: /runner-cache
    volumes:
      - /srv/data/openclaw/runner:/runner-data
      - /srv/cache/openclaw/runner:/runner-cache
    ports:
      - "127.0.0.1:18888:8080"
    command:
      - sh
      - -lc
      - |
        echo "[runner-mvp] up"
        echo "DOCKER_HOST=$DOCKER_HOST"
        echo "RUNNER_DATA_DIR=$RUNNER_DATA_DIR"
        echo "RUNNER_CACHE_DIR=$RUNNER_CACHE_DIR"
#        tail -f /dev/null

networks:
  runner-control:
    name: dkrnet-runner-control
    driver: bridge

